flask==2.1.0
flask-cors==3.0.10
mysql-connector-python==8.0.27
flask-bcrypt==1.0.1
werkzeug==2.0.3
phonenumbers
pytz
flask-limiter
flask-sqlalchemy
redis
flask-jwt-extended
flask-cors
mysql-connector-python
google-auth 
google-auth-oauthlib 
google-auth-httplib2
google-api-python-client
twilio
