/* Custom styles for the price tag */
.price-tag {
    color: #00680a; /* Or any color you prefer */
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding: 2px;
  }

.na-tag {
  color: #8e1e1e; /* Or any color you prefer */
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  padding: 2px;
}

.na-tile {
  background-color: #f5f5f5 !important; /* Light gray for "N/A" dates */
  color: #d9534f; /* Red text for "N/A" */
}

.green-tile {
  background-color: #489148 !important; /* Green background for available dates */
}

.react-calendar {
  width: 450px; /* Set the desired width of the calendar */
  /* height: 300px; /* Set the desired height of the calendar */
  max-width: 100%; /* Ensure it doesn't overflow */
  max-height: 100%; /* Prevent it from getting too large */
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #1a1a1a;
}

.react-calendar__tile {
  height: 60px; /* Adjust tile size */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for weekend tiles */
.react-calendar__month-view__days__day--weekend {
  color: black; /* Change the text color to black */
}

.react-calendar__tile--active:enabled:hover {
  background-color: #71abf8 !important;
}